#[Auto generated class files]
tmp/
target/
.target/
*.swp
bin/
project/project/
project/target/
dist/
out/

#[link log4j.properties]
conf/log4j.properties

#[Dependencies]
lib/
modules/

#[Eclipsify]
eclipse/
.classpath
.project
.settings/
.metadata/

#[Netbeansify]
nbproject/

#[Idea]
/.idea
/*.iml
/.idea_modules

#[pid]
server.pid
RUNNING_PID

#[logs]
logs/
logs

#[data]
data/

#[others]
.history
